@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-container {
        @apply w-full px-5 lg:px-10 2xl:w-[1536px] flex flex-wrap;
    }

    .profile-pic {
        @apply w-14 h-14 object-cover rounded-full mx-2;
    }
    img.landscape {
        aspect-ratio: 16 / 9;
    }
    img.portrait {
        aspect-ratio: 4 / 5;
    }
    img.square {
        aspect-ratio: 1 / 1;
    }

    @media (min-width: 1024px) {
        lg:img.landscape {
            aspect-ratio: 16 / 9;
        }
        lg:img.portrait {
            aspect-ratio: 4 / 5;
        }
    }


    #menu-inp-label {
        @apply py-3 cursor-pointer;
        @media (min-width: 1024px) {
            margin-right: 63px;
        }

        span {
            @apply bg-zinc-900 block relative w-6;
            height: 2px;
        }
        span::before, span::after {
            @apply bg-zinc-900 block h-full absolute w-full;
            content: '';
            transition: all .1s ease-out;
        }
        span::before {
            top: 8px;
        }
        span::after {
            top: -8px;
        }
        border: 1px solid rgba(0, 0, 0, 0);
    }
    #full-nav {
        @apply w-screen h-screen absolute bg-white overflow-hidden left-0 top-0 mt-28 max-w-full hidden;
        z-index: 10;
        li {
            @apply mt-2;
            a {
                @apply text-lg;
            }
        }
        h3 {
            @apply text-2xl font-extrabold;
        }
    }
    #menu-inp:focus + label {
        border: 1px solid #ccc;
    }
    #menu-inp:checked ~ #full-nav {
        @apply block;
    }
    #menu-inp:checked ~ #menu-inp-label span {
        background: transparent;
    }
    #menu-inp:checked ~ #menu-inp-label span::before {
        transform: rotate(-45deg);
        @apply top-0;
    }
    #menu-inp:checked ~ #menu-inp-label span::after {
        transform: rotate(45deg);
        @apply top-0;
    }
    a {
        @apply hover:text-emerald-500;
    }
    main.navbar-clear {
        margin-top: -100px;
    }
}